{% extends 'manage_root.html' %}
{% load staticfiles %}
{% block header-pro %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'js/html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
{% endblock %}
{% block body %}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户管理</a>
        <a>
          <cite>用户组列表</cite></a>
      </span>
        <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body operate">
        <div class="layui-btn-group">
            {% if perms.auth.delete_group %}
                <button class="layui-btn layui-btn-danger" data-type="getCheckData"><i class="layui-icon"></i>批量删除
                </button>
            {% endif %}
            {% if perms.auth.add_group %}
                <button class="layui-btn" onclick="x_admin_show('添加用户组','{% url 'manage:group_add' %}',1100,720)"><i
                        class="layui-icon"></i>添加用户组
                </button>
            {% endif %}
            <div class="layui-input-inline">
                <input type="text" id="group_key" name="group_key" placeholder="请输入关键字"
                       autocomplete="off" class="layui-input col-md-4" style="padding-right: 5px">
            </div>
            <button class="layui-btn" data-type="researchPlate"><i class="fa fa-search"
                                                                   aria-hidden="true"></i>
            </button>
        </div>

        <table class="layui-hide" id="tab_group" lay-filter="group"></table>
        <script type="text/html" id="bar_group">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
            {% if perms.auth.change_group %}
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            {% endif %}
            {% if perms.auth.delete_group %}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            {% endif %}
        </script>
    </div>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            var tableObj = table.render({
                elem: '#tab_group'
                , url: '{% url 'manage:group_list' %}'
                , cols: [[
                    {checkbox: true, fixed: true}
                    , {field: 'id', title: '用户组ID'}
                    , {field: 'name', title: '用户组名称'}
                    , {field: 'right', title: '操作', align: 'center', toolbar: '#bar_group'}
                ]]
                , id: 'group_table'
                , page: true
                , height: 'full-335'
                , loading: false
            });

            table.on('tool(group)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    console.log(data.id);
                    var url = "/manage/group_detail/" + data.id;
                    x_admin_show('用户组详情', url, 800, 600)
                } else if (obj.event === 'del') {
                    var sids = [data.id];
                    del_group(tableObj, sids);
                } else if (obj.event === 'edit') {
                    x_admin_show('编辑用户组', '/manage/group_edit/' + data.id, 1100, 720);
                }
            });


            var $ = layui.$, active = {
                getCheckData: function () {
                    var checkStatus = table.checkStatus('group_table')
                        , data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg('您还没选择哟！', {icon: 5});
                    } else {
                        var sids = [];
                        for (var i = 0; i < data.length; i++) {
                            sids.push(data[i].id);
                        }
                        del_group(tableObj, sids);
                    }
                },
                researchPlate: function () {
                    var key = $('#group_key').val();
                    tableObj.reload({
                        where: {
                            key: key
                        }
                    })
                }
            };

            $('.operate .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });

        function del_group(tableObj, sids) {
            layer.confirm('真的删除行吗？', function (index) {
                $.ajax({
                    url: '{% url 'manage:group_delete' %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {'sids[]': sids},
                    success: function (data) {
                        layer.msg(data.msg, data.status ? {icon: 6} : {icon: 5});
                        tableObj.reload();
                    }
                });
            });
        }

    </script>
{% endblock %}