{% extends 'manage_root.html' %}
{% block body %}
    <div class="x-body">
        <form class="layui-form">
            <input type="hidden" name="sid" id="sid" value="{{ server.id }}">
            <div class="layui-form-item">
                <label for="ip" class="layui-form-label">
                    <span class="x-red">*</span>IP地址
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="ip" name="ip" lay-verify="ip|required"
                           value="{{ server.ip|safe }}"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="os" class="layui-form-label">
                    <span class="x-red">*</span>操作系统
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="os" name="os" lay-verify="os|required"
                           autocomplete="off" class="layui-input" value="{{ server.os|safe }}">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>用户名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" lay-verify="username|required"
                           autocomplete="off" class="layui-input" value="{{ server.username|safe }}">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="password" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="password" name="password" lay-verify="password|required"
                           autocomplete="off" class="layui-input" value="{{ server.password|safe }}">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="ssh_port" class="layui-form-label">
                    默认连接端口
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="ssh_port" name="ssh_port" autocomplete="off" class="layui-input"
                           value="{{ server.ssh_port|safe }}">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="update" lay-submit="">
                    提交
                </button>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;

            //监听提交
            form.on('submit(update)', function (input) {
                //发异步，把数据提交给后台接口
                $.ajax({
                    url: '{% url 'manage:server:update' %}',
                    type: 'POST',
                    dataType: 'json',
                    data: input.field,
                    success: function (data) {
                        layer.msg(data.msg, data.status ? {icon: 6} : {icon: 5}, function () {
                            if (data.status) {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.location.reload();
                            }

                        });
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
