{% extends 'toolkit_root.html' %}
{% load staticfiles %}
{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Automatic Toolkit</h4>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="alert alert-success back-widget-set text-center" style="padding: 100px">
                        <i class="fa fa-history fa-5x"></i>
                        <h3>待开发.....</h3>
                        See You Soon
                        <br>
                        <br>
                        <br>

                        <p class="pull-right">-- <label>{{ model }}</label></p>
                    </div>

                </div>

            </div>
        </div>

    </div>
{% endblock %}