{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'img/logo.ico' %}"/>
<link rel="stylesheet" href="{% static 'css/font.css' %}">
<link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
{#<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>