{% extends 'manage_root.html' %}
{% block body %}
    <fieldset class="layui-elem-field site-demo-button" style="margin: 20px;padding: 10px;">
        <legend>工具看板</legend>
        <div class="layui-row">
            <div class="layui-col-xs3" style="background-color: #4cae4c">
                <div class="grid-demo grid-demo-bg1">6/12</div>
            </div>
            <div class="layui-col-xs3">
                <div class="grid-demo">6/12</div>
            </div>

            <div class="layui-col-xs3">
                <div class="grid-demo">6/12</div>
            </div>

            <div class="layui-col-xs3">
                <div class="grid-demo">6/12</div>
            </div>
        </div>
    </fieldset>

{% endblock %}